### Global gitignore ###

### IntelliJ IDEA ###
**/.idea
**/.mvn
*.iws
*.iml
*.ipr
mvnw
mvnw.cmd


### IDE - VSCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*


# System Files
.DS_Store
Thumbs.db

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/


# IDEs and editors
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace


# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings


