<div class="login">
    <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->
          <h2 class="active"> Sign In </h2>
      
      
          <!-- Login Form -->
          <form [formGroup]="loginFormGroup" (ngSubmit)="login()">
            <input formControlName="username" type="text" class="fadeIn second" placeholder="username">
            <show-hide-password size="sm" class="fadeIn third passinput" [btnOutline]="false">
              <input formControlName="password" type="password" placeholder="password" >
            </show-hide-password>
            <!-- <input formControlName="password" type="text" class="fadeIn third" placeholder="password"> -->
            <input type="submit" class="fadeIn fourth" value="Log In">

            <!-- if auth not successful, display warning -->
            <div *ngIf="authSuccess == false" class="alert alert-warning col-md-12" role="alert">
              Bad username / password
            </div>
            <p>OR</p>
            <br>
            <a routerLink="/sign-up">
              <button type="signup" class="fadeIn fourth">Sign Up</button>
            </a> 
          </form>
      
          <!-- Remind Passowrd -->
          <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
          </div>
      
        </div>
      </div>
</div>