<div class="login">
    <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->
          <h2 class="active"> Sign Up </h2>
      
      
          <!-- Show alert only if requestStatusCode is present -->
          <div *ngIf="requestStatusCode != null">
              <div *ngIf="requestStatusCode == 226" class="alert alert-warning col-md-12" role="alert">
                  {{ responseMessage }}
              </div>
          </div>

          <!-- Login Form -->
          <form [formGroup]="signUpFormGroup" (ngSubmit)="signUp()">

            <input formControlName="firstName" type="text" class="fadeIn second" placeholder="First Name">
            <!-- displaying error messages -->
            <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger mt-1">
              <div *ngIf="firstName.errors.required || firstName.errors.notOnlyWhitespace">
                First Name is required
              </div>
              <div *ngIf="firstName.errors.minlength">
                First Name must be at least 2 characters long
              </div>
            </div>

            <input formControlName="lastName" type="text" class="fadeIn second" placeholder="Last Name">
            <!-- displaying error messages -->
            <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger mt-1">
              <div *ngIf="lastName.errors.required || lastName.errors.notOnlyWhitespace">
                Last Name is required
              </div>
              <div *ngIf="lastName.errors.minlength">
                Last Name must be at least 2 characters long
              </div>
            </div>

            <input formControlName="email" type="text" class="fadeIn second" placeholder="email">
            <!-- displaying error messages -->
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger mt-1">
              <div *ngIf="email.errors.required">
                Email is required
              </div>
              <div *ngIf="email.errors.pattern">
                Invalid email address
              </div>
            </div>

            <input formControlName="username" type="text" class="fadeIn second" placeholder="username">
            <!-- displaying error messages -->
            <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger mt-1">
              <div *ngIf="username.errors.required || username.errors.notOnlyWhitespace">
                username is required
              </div>
              <div *ngIf="username.errors.minlength">
                username must be at least 4 characters long
              </div>
            </div>

            <input formControlName="password" type="text" class="fadeIn third" placeholder="password">
            <!-- displaying error messages -->
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger mt-1">
              <div *ngIf="password.errors.required">
                password is required
              </div>
              <div *ngIf="password.errors.pattern">
                password must be at least 8 characters long, include lowercase letter, uppercase letter, digit, special character
              </div>
            </div>
            <input type="submit" class="fadeIn fourth" value="Sign Up">

          </form>
      
      
        </div>
      </div>
</div>